<h2>Find Movie</h2>
<hr />
@using (Html.BeginForm("FindByYear", "Movie"))
{
    <p>Enter Year: <input type="text" id="movieyear" name="movieyear" /></p>
    <br />
    <input class="btn" type="submit" value="Find" />
}

@if(ViewBag.Movies != null)
    {
    
    <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
        </tr>
    </thead>
    @foreach (var data in ViewBag.Movies)
    {
        <tbody>
            <tr>
                <td>@data.Id</td>
                <td>@data.Name</td>
                <td>@data.Year</td>
                <td>@data.Rating</td>
            </tr>
        </tbody>
    }
    </table>
 }