@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="link-container">
        @Html.ActionLink("About", "About", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Contact", "Contact", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br />

    <div>
        @RenderBody()
    </div>
</body>
</html>