<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/css/Main.css" />
</head>
<body>
    <h1>Main Layout</h1>
    <hr />
    <div class="link-container">
        <a href="@Url.Action("Index","Home")">Home</a>
        <a href="@Url.Action("Index","Movie")">Movie</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <hr />
    <footer style="text-align:left;font-style:italic">
        Contact: LnT
        Address: Mahape
    </footer>
</body>
</html>